:root {
    --grey-background: #585858;
    --grey-highlight: rgba(150, 150, 150, 0.432);
    --blue-main: rgba(0, 180, 171, 0.644);
}
body {
    margin: 0;
    padding: 0;
}

#grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: beige;
}